@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Oswald:wght@200..700&family=Rammetto+One&family=Sigmar+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#B3A99A;
}

header{
    height: 80px;
    width: 100%;
    background: #E0D9CF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    border: 4px solid #000000;
}

a{
    text-decoration: none;
}

.menu_all{
    display: flex;
    padding: 0px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    flex-grow: 1;
}

.name-logo{
    display: flex;
    align-items: center;
    gap: 10px;  
    order: -1;
}

.brand-text{
    display: flex;
    flex-direction: column;
}

.menu-all{
    display: flex;
    padding: 0px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #000000;
}

.logo{
    box-sizing: border-box;
 
    position: static; 
    width: 50px;
    height: 50px;
    left: 0.5em;
    top: 1em;

    border: 4px solid #000000;
    border-radius: 20px;
}

.name{
    position: static;
    font-family: 'Cormorant Garamond';
    font-size: 40px;
    line-height: 1.2;
    color: #000000;
}

.second-name{
    position: static;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #000000;
}

.search-input{
    width: 250px;
    height: 40px;

    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 50px;
}

.search-image-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: block;
}

.title{
    position: static;
    background-color: #D2BD96;
    border: 4px solid #000000;
    border-radius: 20px;
    width: 175px;
    height: 57px;
    margin-top: 20px;
    margin: 20px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.t-t{
    font-family: 'ABeeZee';
    font-size: 25px;
    color: #000000;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.card{
    background-color: #D2BD96;
    border: 4px solid #000000;
    border-radius: 20px; 
    width: 275px;
    height: 275px;
    padding: 20px;
    margin: 25px;
}

.photo{
    width: 225px;
    height: 225px;
    border: 4px solid #000000;
    border-radius: 20px; 
}

.btn-all{
    display: flex;
    flex-direction: row;
}

.btn{    
    line-height: 1;
    background: #9D8A66;
    border: 4px solid #000;
    border-radius: 50px;
    height: 45px;
    margin: 15px; 
    margin-left: 25px;  
    color:#000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn{
    width: 95px;
}

.add{
    width: 45px;
}

.cart-img{
    height: 35px;
    width: 35px;
}

.clicked{
    font-size: 35px;
    font-family: 'Rammetto One';
}

.product{
    background-color: #d3c5b2;
    border-radius: 20px;
    margin: 15px;
    border: 4px solid #000000;
}

footer{
    background-color: #E0D9CF;
    padding: 25px;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media{
    display: flex;
    flex-direction: column;
}

.s-m-logo{
    width: 32px;
    height: 32px;
}

.s-m{
    font-size: 25px;
    font-family: ABeeZee;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.by{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 23px;
    font-family: ABeeZee;
}

.last{
    margin: auto;
}

@media (max-width: 860px) {
    .menu-all {
      gap: 18px;
      display: flex;
      justify-content: flex-start;
      justify-content: space-around;
    }
    .search-input{
        height: 35px;
        width: 150px;
    }
    .menu_all{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    header{
        height: auto;
        padding: 10px;
    }
    .name-logo {
        width: 100%;
        justify-content: center;
    } 
    .logo{
        width: 75px;
        height: 75px;
    }   
    .title{
        height: 45px;
    }
    .product{
        margin: auto;
    }
    footer{
        padding: 15px;
    }
    .name-logo-2{
        margin-left: 15px;
        display: flex;
        justify-content: flex-start;
    }
    .by{
        margin-top: 20px;
    }
}
