*{
    margin: 0;
    padding: 0;
}


header{
    height: 5em;
    width: 99.5%;
    background: #E0D9CF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    border: 4px solid #000000;
}

.menu-all{
    display: flex;
    padding: 0px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    flex-grow: 1;
}

.menu{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #000000;
}

.logo{
    box-sizing: border-box;
 
    position: absolute; 
    width: 3em;
    height: 3em;
    left: 0.5em;
    top: 1em;

    border: 4px solid #000000;
    border-radius: 20px;
}

.name{
    position: absolute;
    left: 1.8em;
    top: 0.2em;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.04em;

    color: #000000;
}

.second-name{
    position: absolute;
    left: 4.5em;
    top: 2.4em; 

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #000000;
}

.search-input{
    box-sizing: border-box;

    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 50px;
}

.search-image-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: block;
}
